@import url('https://fonts.googleapis.com/css?family=Lato:300,700')
@import '_colors'

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Lato', sans-serif
  font-weight 300
  text-align center
  color white
  background linear-gradient(gradLgt, gradDrk) no-repeat center center fixed
  background-color gradDark
  background-size cover

.videos
  max-width 800px
  margin auto
  padding-top 50px
  .video
    display inline-block
    width 350px
    height 200px
    margin 20px
    .title
      font-size 20px
      margin-bottom 5px
    iframe
      border 1px solid #555

footer
  margin 50px 0
  a
    text-decoration none
    color zabOrange
    font-size 18px
    &:hover
      opacity .7
    &:not(:last-child):after
      content '\00B7'
      padding 0 10px
