@import url('https://fonts.googleapis.com/css?family=Lato:300,700')
@import '_colors'

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Lato', sans-serif
  font-weight 300
  text-align center

.logo
  width 200px
  margin-top 50px

.videos
  max-width 800px
  margin 70px auto 0
  .video
    display inline-block
    width 350px
    height 200px
    margin 20px
    .title
      font-size 20px
      color green-drk
      font-weight 700
    .author
      font-size 16px
      color green-lgt
      font-weight 400
      margin-bottom 10px
    iframe
      border 1px solid #555

footer
  margin 100px 0
  a
    text-decoration none
    color green-lgt
    font-size 18px
    font-weight 700
    margin 0 20px
    &:hover
      opacity .7
