extends /views/_partials/layout

block content
  img(src="/img/logo-stacked.svg", class="logo")
  
  div.videos
    each video in videos
      div.video
        h2.title= video.title
        h4.author by #{video.author}
        iframe(width="350", height="200", src=video.src+"?showinfo=0", frameborder="0", allowfullscreen)

  footer
    a(href="http://www.meetup.com/ogdenjs/", target="_blank") Meetup
    a(href="http://github.com/ogdenjs", target="_blank") GitHub
    a(href="http://twitter.com/ogden_js", target="_blank") Twitter
    a(href="http://www.hackogden.com", target="_blank") Hack Ogden
